
/* Just to */
#to {
    #logo,
    #meta {
        color: #fff;
    }

    #hero {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 2rem;
    }

    main {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        color: #fff;
        padding: 2rem;
        border-radius: 2rem;
        overflow: clip;
    }

    h1 {
        display: inline-block;
        margin-bottom: 0;
    }

    button{
        font-size: 1.2rem;
        line-height: 3rem;
        padding: .1rem 1rem;
        border-radius: 1.6rem;
        background: #FFF;
        color: #000;
        border: none;
    }
}

/* View transitions */

/* 1. Opt-in to view transitions */

@view-transition {
    navigation: auto;
}

/* 2. Animate logo */

#logo {
    view-transition-name: title;
}

/* 3. Animation timing */

::view-transition-group(*) {
    animation-duration: 0.5s;
}

/* 4. Define the transition for the poster */

#lion-king,
#hero {
    view-transition-name: poster;
}

/* 5. Aspect ratio animation for poster */

::view-transition-old(poster),
::view-transition-new(poster) {
    animation: none;
    mix-blend-mode: normal;
    height: 100%;
    overflow: clip;
    border-radius: 2rem;
}

#to::view-transition-new(poster) {
    object-fit: cover;
}

#from::view-transition-new(poster) {
    object-fit: contain;
}

#from::view-transition-old(poster) {
    object-fit: cover;
}

/* 6. Header animations */

::view-transition-group(poster) {
    z-index: 1;
}

::view-transition-group(title) {
    z-index: 2;
}

#meta {
    view-transition-name: meta-navigation;
}

::view-transition-group(meta-navigation) {
    z-index: 2;
}

/* 7. Animate elements just on one page (to) with custom animation */

#to main {
    view-transition-name: movie-description;
}

::view-transition-group(movie-description) {
    z-index: 2;
    overflow: clip;
    border-radius: 2rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

::view-transition-new(movie-description) {
    animation: 300ms cubic-bezier(0, 0, 0.2, 1) both fade-in;
    animation-delay: 0.5s;
}

::view-transition-old(movie-description) {
    animation: 150ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}